*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
transition:0.4s;
}

.dark{
background:#111;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:0 15px;
}

nav ul li a{
color:white;
text-decoration:none;
}

/* HERO */

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:80px;
background:linear-gradient(120deg,#4facfe,#00f2fe);
color:white;
}

.hero img{
width:250px;
border-radius:50%;
}

/* ABOUT */

section{
padding:60px;
text-align:center;
}

/* SKILLS */

.skill{
width:60%;
margin:auto;
text-align:left;
}

.bar{
background:#ddd;
border-radius:20px;
margin-bottom:15px;
}

.progress{
background:green;
padding:10px;
color:white;
border-radius:20px;
}

.html{width:90%;}
.css{width:80%;}
.js{width:60%;}

/* PROJECTS */

.projects{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
width:250px;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.card img{
width:100%;
border-radius:10px;
}

/* CONTACT */

input,textarea{
width:250px;
padding:10px;
margin:5px;
}

/* BUTTON */

button{
padding:10px 20px;
background:#007BFF;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

/* FOOTER */

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}
